.count {
	background-color: #d71631;
    color: #FFF;
    border-radius: 50%;
    display: grid !important;
    align-items: center;
    text-align: center;
    width: 80% !important;
    height: 80% !important;
}